.toggle .admonition-title {
    display: block;
    clear: both;
    background: #84d27dff;
    cursor: pointer;
}
.toggle .admonition-title:after {
    content: " (click to expand)";
}

.toggle .admonition-title.open:after {
    content: " (click to hide)";
}

.toggle .admonition-title::before {
    content: "";
}

.rst-content .toggle.admonition {
    background: #84d27d38;
}

/*.toggle .paragraph {*/
    /*display: block;*/
    /*padding: 12px;*/
    /*line-height: 24px;*/
    /*margin-bottom: 24px;*/
    /*background: #e7f2fa;*/
/*}*/
